language: php

matrix:
  allow_failures:
    - php: hhvm
    - php: 5.6

php:
  - 5.4
  - 5.5
  - 5.6
  - hhvm

before_script:
  - curl -s http://getcomposer.org/installer | php
  - php composer.phar install --dev --no-interaction

script:
  - vendor/bin/phpunit -c test/phpunit.xml
